<!-- faq start -->
<sly data-sly-test="${(wcmmode.edit || wcmmode.design)}">
	<p> Add values to FAQ component </p> </br>
</sly>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='bathsense.faq'}"/>

<sly data-sly-use.model="com.aem.bathsense.core.models.FAQImp">
         <section id="faq">
                <div class="bs-sec">
                    <div class="container">
                        <div class="sec-head typ-left">
                            <h2 class="sec-title">${model.heading}</h2>
                        </div>
                        <div class="sec-cont">
							<sly data-sly-test="${model.faqDetailsWithMap}">
                            <div data-sly-list.item="${model.faqDetailsWithMap}" class="cp-accordion">
                                <div class="acc-item">
                                    <div class="acc-head">${item.question}</div>
                                    <div class="acc-cont">
                                        <p>${item.answer}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</sly>
 <!-- faqssupport end -->